<mat-toolbar class="app-title">Cadastrar Cursos</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="cadastro" >
    <form autocomplete="off" novalidate [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <dio-input-text titulo="Título *" controlName="titulo" [formGroup]="cadastro"></dio-input-text>
        <dio-input-text titulo="Link Foto" controlName="urlFoto" [formGroup]="cadastro"></dio-input-text>
        <dio-input-date titulo="Data de Conclusão *" controlName="dtConclusao" [formGroup]="cadastro"></dio-input-date>
        <dio-input-textarea titulo="Descrição" controlName="descricao" [formGroup]="cadastro"></dio-input-textarea>
        <dio-input-number titulo="Nota do Curso *" controlName="nota" step="0.1" [formGroup]="cadastro"></dio-input-number>
        <dio-input-text titulo="Link do Curso" controlName="urlcurso" [formGroup]="cadastro"></dio-input-text>
        <dio-input-select titulo="Área *" [opcoes]="areas" controlName="area" [formGroup]="cadastro"></dio-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
